body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
    
}