body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.half-width{
    width: 50%;
    margin-left: 50px;
  

    
}
.half-width img{
   width: 60%;
   margin-left: 50px;
   margin-top: 30px;
   margin-bottom: 30px;
  
   
}
.color{
    color: orange;
}
h1{
    font-size:xx-large;
}
.link-button{
    
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom:15px;
    background-image: linear-gradient(orange,red);
    border-radius: 90px;
}
.background-imag-added{
    background-image: url(7.png);
    padding-left: 50px;
    padding-right: 80px;
    
   
}
.margin{
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.text-align{
    text-align: center;
    margin-left: 28%;
    margin-top: 40px;
    margin-bottom: 40px;
}
#id-1{
    border-radius: 10px;
  
}
.flexible-container{
    display: flex;
}

    ;


   

.width{
    width:25%;
   
}
.width img{
    width :90%;
}
#id-container{
   
    width: 30%;
   margin-left: 3%;
   margin-right: 3%;
}
#id-container-one{
   
    width:30% ;
    margin-left: 3%;
    margin-right: 3%;
    
    
}
#id-container-two{
    
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    
}
#id-container-three{
    
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
}
#id-container-four{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
}
#id-container-five{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    
}

    

.footer {
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 70px;

}

  







   












   



    